<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>
    Sup noobs, Welcome to a brightly colored unicorn farting rainbows!
  </h1>
  <img width="300" alt="Angular Logo" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ea2c5ecc-4653-4523-92c4-65b374ec6791/d2und7d-cbf9ac92-5503-4870-a413-8b82520b8906.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2VhMmM1ZWNjLTQ2NTMtNDUyMy05MmM0LTY1YjM3NGVjNjc5MVwvZDJ1bmQ3ZC1jYmY5YWM5Mi01NTAzLTQ4NzAtYTQxMy04YjgyNTIwYjg5MDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Em0bMz55TShl6whBwPe9NFAcCVP1lu5p49dDQtJxvZY">
</div>
<h2>You've been greeted by the magical smelly unicorn!! For each magical unicorn fart you sniff, you will receive absolutely nothing. You're just some weirdo sniffing unicorns butt's.  </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
</body>

