.game-area {
    margin-top: 25px;
    width: 450px;
}

i.material-icons.tick {
    color: green;
}

i.material-icons.cross {
    color: red;
}

.mat-grid-tile {
    background: rgb(235, 235, 235);
  }